*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Pixelify Sans', sans-serif; 
}

/*Experience*/
#experience{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#experience canvas{
    width: 100%;
    height: 100%;
}

/*Utilities*/
.hidden{
    display: none;
}

/*Modal*/
.modal{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    font-size: 22px;
    background-color: #78c49c;
    border: 4px solid black;
    color: black;
    padding: 12px;
}

.modal-wrapper{
    padding: 12px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}