*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif; 
}

#experience{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#experience canvas{
    width: 100%;
    height: 100%;
}